a {
    text-decoration : none ;
}

ul {
     list-style : none ;
	 overflow : hidden ;
	 }

li {
     float : left ;
}

ul > li > a {
    display : block ;
	background : red ;
	border : 1px solid black ;
	color : white ;
	padding : 10px 20px 
}


ul > li > a:hover {
     background : blue ;
	 color : yellow ;
}